## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
# Look at APPLICATION_TYPE value counts
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Display the value counts
print(application_type_counts)

# Identify infrequent application types (e.g., less than 500 occurrences)
rare_application_types = application_type_counts[application_type_counts < 500].index

# Replace infrequent application types with "Other"
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(rare_application_types, 'Other')

# Verify the replacement
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64
APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500

# Create a list of application types to be replaced
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
# Look at CLASSIFICATION value counts
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Display the value counts
print(classification_counts)

# Choose a cutoff value (e.g., less than 1000 occurrences)
cutoff_value = 1000

# Create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in the dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure the replacement was successful
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Look at CLASSIFICATION value counts where occurrences are greater than 1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_one = classification_counts[classification_counts > 1]

# Display the filtered value counts
print(classification_counts_greater_than_one)

# Choose a cutoff value (e.g., less than 1000 occurrences)
cutoff_value = 1000

# Create a list of classifications to be replaced
classifications_to_replace = classification_counts_greater_than_one[classification_counts_greater_than_one < cutoff_value].index.tolist()

# Replace in the dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure the replacement was successful
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000

# Create a list of classifications to be replaced
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [14]:
# Convert categorical data to numeric with pd.get_dummies
application_df = pd.get_dummies(application_df, drop_first=True)

# Display the first few rows to verify
print(application_df.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  \
0       1     5000              1                  True                 False
1       1   108590              1                 False                 False
2       1     5000              0                 False                 False
3       1     6692              1                 False                 False
4       1   142590              1                 False                 False

   APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  \
0                False                False                False
1                 True                False                False
2                False                False                 True
3                 True                False                False
4                 True                False                False

   APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  ORGANIZATION_Trust  \
0                False                False  ...               False
1                False                False  ...               False
2                False                False  ...               False
3                False                False  ...                True
4                False                False  ...                True

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_Y
0            False              False                     False
1            False              False                     False
2            False              False                     False
3            False              False                     False
4            False              False                     False

[5 rows x 37 columns]

In [15]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=["IS_SUCCESSFUL"])
y = application_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Verify the split
print(f"Training Features Shape: {X_train.shape}")
print(f"Testing Features Shape: {X_test.shape}")
print(f"Training Target Shape: {y_train.shape}")
print(f"Testing Target Shape: {y_test.shape}")

Training Features Shape: (27439, 36)
Testing Features Shape: (6860, 36)
Training Target Shape: (27439,)
Testing Target Shape: (6860,)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Define the model - deep neural net
nn = tf.keras.models.Sequential()

# Get the number of input features
input_features = X_train.shape[1]

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 80)             │         2,960 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,421 (21.18 KB)

 Trainable params: 5,421 (21.18 KB)

 Non-trainable params: 0 (0.00 B)

In [22]:
# Compile the model
nn.compile(
    optimizer="adam",                 # Optimizer for updating weights
    loss="binary_crossentropy",       # Loss function for binary classification
    metrics=["accuracy"]              # Metrics to evaluate the model
)

In [23]:
# Train the model
history = nn.fit(
    X_train_scaled,    # Scaled training features
    y_train,           # Training labels
    epochs=50,         # Number of epochs (you can adjust this based on performance)
    batch_size=32,     # Batch size (default is 32; you can experiment with other values)
    validation_data=(X_test_scaled, y_test)  # Validation data for evaluating during training
)

Epoch 1/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7016 - loss: 0.5955 - val_accuracy: 0.7290 - val_loss: 0.5668
Epoch 2/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 950us/step - accuracy: 0.7313 - loss: 0.5571 - val_accuracy: 0.7217 - val_loss: 0.5667
Epoch 3/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 938us/step - accuracy: 0.7321 - loss: 0.5511 - val_accuracy: 0.7262 - val_loss: 0.5596
Epoch 4/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 963us/step - accuracy: 0.7282 - loss: 0.5544 - val_accuracy: 0.7258 - val_loss: 0.5592
Epoch 5/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 931us/step - accuracy: 0.7323 - loss: 0.5491 - val_accuracy: 0.7265 - val_loss: 0.5603
Epoch 6/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 915us/step - accuracy: 0.7313 - loss: 0.5505 - val_accuracy: 0.7232 - val_loss: 0.5597
Epoch 7/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 937us/step - accuracy: 0.7306 - loss: 0.5504 - val_accuracy: 0.7286 - val_loss: 0.5577
Epoch 8/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 924us/step - accuracy: 0.7325 - loss: 0.5466 - val_accuracy: 0.7213 - val_loss: 0.5582
Epoch 9/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 977us/step - accuracy: 0.7327 - loss: 0.5481 - val_accuracy: 0.7281 - val_loss: 0.5593
Epoch 10/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7297 - loss: 0.5518 - val_accuracy: 0.7274 - val_loss: 0.5565
Epoch 11/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 944us/step - accuracy: 0.7339 - loss: 0.5476 - val_accuracy: 0.7270 - val_loss: 0.5594
Epoch 12/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 936us/step - accuracy: 0.7326 - loss: 0.5473 - val_accuracy: 0.7254 - val_loss: 0.5577
Epoch 13/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 940us/step - accuracy: 0.7334 - loss: 0.5460 - val_accuracy: 0.7233 - val_loss: 0.5593
Epoch 14/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 982us/step - accuracy: 0.7382 - loss: 0.5421 - val_accuracy: 0.7216 - val_loss: 0.5593
Epoch 15/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 943us/step - accuracy: 0.7352 - loss: 0.5422 - val_accuracy: 0.7268 - val_loss: 0.5553
Epoch 16/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 938us/step - accuracy: 0.7330 - loss: 0.5483 - val_accuracy: 0.7258 - val_loss: 0.5580
Epoch 17/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 978us/step - accuracy: 0.7385 - loss: 0.5415 - val_accuracy: 0.7264 - val_loss: 0.5573
Epoch 18/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 960us/step - accuracy: 0.7366 - loss: 0.5421 - val_accuracy: 0.7296 - val_loss: 0.5563
Epoch 19/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 941us/step - accuracy: 0.7366 - loss: 0.5415 - val_accuracy: 0.7200 - val_loss: 0.5581
Epoch 20/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 955us/step - accuracy: 0.7337 - loss: 0.5444 - val_accuracy: 0.7249 - val_loss: 0.5571
Epoch 21/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 971us/step - accuracy: 0.7376 - loss: 0.5450 - val_accuracy: 0.7276 - val_loss: 0.5573
Epoch 22/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 967us/step - accuracy: 0.7344 - loss: 0.5427 - val_accuracy: 0.7264 - val_loss: 0.5575
Epoch 23/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 951us/step - accuracy: 0.7344 - loss: 0.5415 - val_accuracy: 0.7292 - val_loss: 0.5559
Epoch 24/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 956us/step - accuracy: 0.7365 - loss: 0.5420 - val_accuracy: 0.7270 - val_loss: 0.5576
Epoch 25/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 956us/step - accuracy: 0.7316 - loss: 0.5458 - val_accuracy: 0.7281 - val_loss: 0.5567
Epoch 26/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 941us/step - accuracy: 0.7401 - loss: 0.5373 - val_accuracy: 0.7283 - val_loss: 0.5566
Epoch 27/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 945us/step - accuracy: 0.7362 - loss: 0.5389 - val_accuracy: 0.7226 - val_loss: 0.5579
Epoch 28/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 973us/step - accuracy: 0.7336 - loss: 0.5443 - val_accuracy: 0.7264 - val_loss: 0.5581
Epoch 29/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 951us/step - accuracy: 0.7317 - loss: 0.5430 - val_accuracy: 0.7262 - val_loss: 0.5573
Epoch 30/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 949us/step - accuracy: 0.7406 - loss: 0.5355 - val_accuracy: 0.7249 - val_loss: 0.5573
Epoch 31/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 958us/step - accuracy: 0.7352 - loss: 0.5440 - val_accuracy: 0.7258 - val_loss: 0.5572
Epoch 32/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 956us/step - accuracy: 0.7369 - loss: 0.5404 - val_accuracy: 0.7258 - val_loss: 0.5580
Epoch 33/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 943us/step - accuracy: 0.7413 - loss: 0.5342 - val_accuracy: 0.7252 - val_loss: 0.5582
Epoch 34/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 966us/step - accuracy: 0.7405 - loss: 0.5369 - val_accuracy: 0.7276 - val_loss: 0.5556
Epoch 35/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 995us/step - accuracy: 0.7347 - loss: 0.5382 - val_accuracy: 0.7241 - val_loss: 0.5564
Epoch 36/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7393 - loss: 0.5386 - val_accuracy: 0.7270 - val_loss: 0.5570
Epoch 37/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 964us/step - accuracy: 0.7315 - loss: 0.5442 - val_accuracy: 0.7254 - val_loss: 0.5603
Epoch 38/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7383 - loss: 0.5408 - val_accuracy: 0.7292 - val_loss: 0.5567
Epoch 39/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7390 - loss: 0.5372 - val_accuracy: 0.7246 - val_loss: 0.5571
Epoch 40/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 976us/step - accuracy: 0.7385 - loss: 0.5391 - val_accuracy: 0.7280 - val_loss: 0.5578
Epoch 41/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 999us/step - accuracy: 0.7333 - loss: 0.5427 - val_accuracy: 0.7259 - val_loss: 0.5568
Epoch 42/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7418 - loss: 0.5344 - val_accuracy: 0.7239 - val_loss: 0.5594
Epoch 43/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7357 - loss: 0.5429 - val_accuracy: 0.7258 - val_loss: 0.5589
Epoch 44/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 991us/step - accuracy: 0.7353 - loss: 0.5399 - val_accuracy: 0.7262 - val_loss: 0.5613
Epoch 45/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7401 - loss: 0.5332 - val_accuracy: 0.7273 - val_loss: 0.5566
Epoch 46/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 918us/step - accuracy: 0.7427 - loss: 0.5366 - val_accuracy: 0.7245 - val_loss: 0.5587
Epoch 47/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 915us/step - accuracy: 0.7411 - loss: 0.5375 - val_accuracy: 0.7264 - val_loss: 0.5576
Epoch 48/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 939us/step - accuracy: 0.7406 - loss: 0.5332 - val_accuracy: 0.7252 - val_loss: 0.5571
Epoch 49/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 930us/step - accuracy: 0.7371 - loss: 0.5407 - val_accuracy: 0.7287 - val_loss: 0.5589
Epoch 50/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 934us/step - accuracy: 0.7369 - loss: 0.5412 - val_accuracy: 0.7235 - val_loss: 0.5599

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 830us/step - accuracy: 0.7235 - loss: 0.5599
Loss: 0.5599278807640076, Accuracy: 0.7234693765640259

In [25]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.